<!-- <input [placeholder]="helloText"> 
<p>{{helloText}}</p> -->
<h1>Hello Angular World</h1>

<button (click)="backgroundToogle = !backgroundToogle">Toogle</button>

<div [ngStyle]="{
    width: '200px',
    height: '200px',
    borderRadius: '5px',
    border:'1px solid grey',
    background: backgroundToogle ? 'red' : 'blue'
}">

</div>
















<!-- 
<input type="text" [(ngModel)]='title'>

<p>{{title}}</p> -->

<!-- 
<button (click)="onClick()">click me</button>
<input type="text" 
(keyup.enter)="onInput($event)" 
(blur)="onBlur(myInput.value)"
#myInput 
>
<p><strong>{{inputValue}}</strong></p>

<input type="text"
(keyup.enter)="onEnterClickString(myValue.value)"
#myValue
>
<p>{{inputField}}</p>

<!-- <p>{{title}}</p>
<p>{{number}}</p> -->

<hr>
<app-post></app-post>
<!-- <app-post></app-post> -->

<hr>

<app-post4></app-post4> 