<h1>Hello Angular World</h1>

<!-- <ul>
    <li *ngFor="let n of arr; let idx=index">
    {{idx + 1}}  <strong>{{n}}</strong> 
    </li>
</ul> -->

<ul style="list-style:none">
    <li *ngFor="let post of objs">
    <p>{{post.title}} <b>{{post.author}}</b></p>
    <ul>
        <li *ngFor="let comment of post.comments">
            <div>
                <small>{{comment.name}}</small>
                <p>{{comment.text}}</p>
            </div>
        </li>
    </ul>
    </li>
</ul>






<!-- <input [placeholder]="helloText"> 
<p>{{helloText}}</p> -->



<!-- <p [ngClass]="{
    red: backgroundToogle,
    blue: !backgroundToogle
    }">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, obcaecati.</p> -->

    <!-- <p 
    [class.blue]="!backgroundToogle"
    [class.red]="backgroundToogle"
    >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam, dicta?</p> -->


    <!-- <button (click)="toogle = !toogle">Toogle</button>
    
    <div [ngSwitch]="toogle">
        <p *ngSwitchCase="true" class="red">some</p>
        <p *ngSwitchCase="false" class="blue">2 simple</p>
        <p *ngSwitchDefault>loremeed</p>
    </div> -->


    <!-- <p  *ngIf="toogle; else blueP" class="red">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum, impedit?</p>
        
    <ng-template #blueP>

    <p class="blue">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus, nulla?</p>

    </ng-template> -->
    

<!-- 
     ngStyle
<div [ngStyle]="{
    width: '200px',
    height: '200px',
    borderRadius: '5px',
    border:'1px solid grey',
    background: backgroundToogle ? 'red' : 'blue'
}">

</divn> -->


<!-- ngStyle
<button (click)="seeVar = !seeVar">Click and hide bot p & unhide</button>
<p [ngStyle]="{'display': seeVar ? 'none' : 'block'}">See me?</p>   -->
















<!-- 
<input type="text" [(ngModel)]='title'>

<p>{{title}}</p> -->

<!-- 
<button (click)="onClick()">click me</button>
<input type="text" 
(keyup.enter)="onInput($event)" 
(blur)="onBlur(myInput.value)"
#myInput 
>
<p><strong>{{inputValue}}</strong></p>

<input type="text"
(keyup.enter)="onEnterClickString(myValue.value)"
#myValue
>
<p>{{inputField}}</p>

<!-- <p>{{title}}</p>
<p>{{number}}</p> -->

<hr>
<app-post></app-post>
<!-- <app-post></app-post> -->

<hr>

<app-post4></app-post4> 